:root{
    --darkGreen: #2E7D32;
    --lightGreen: #4CAF50;
    --lightGrey: #F1F8E9;
    --white: #E0E0E0;
    --pure-white: #fff;
    --black: #212121;
    --Grey: #333333;
    --Grey-hover: #414141;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#hero header {
    position: fixed;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-div{
    margin-left: 2.5rem;
}

#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentation{
    width: 100%;
    height: 761px;
    background: radial-gradient(circle, #2d3b2d -50%, #212121 100%);
    display: flex;
    flex-direction: row;
}

.presentation-left{
    width: 50%;
    height: auto;
}

.presentation-left img{
    width: 100%;
}

.presentation-right{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.presentation-right h2{
    margin-top: 10rem;
    color: var(--lightGreen);
    font-size: 40px;
}

.presentation-right label{
    font-size: 20px;
    color: var(--lightGrey);
}

.presentation-right a{
    text-decoration: none;
    color: #4CAF50;
}

.presentation-right a:hover{
    color: #88f68c;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* transição do degradê */
    transition:  0.3s ease, box-shadow 0.3s ease;
}
.btn-nav{
    width: 200px;
    height: 200px;
    background: #E0E0E0;
}
header.scrolled {
    background: radial-gradient(circle, #efefef, #ffffff);
    box-shadow: 0 4px 15px #00000055;
    transition: 0.5s ease-in-out;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header::backdrop{
    background: var(--lightGreen);
}

.logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid var(--lightGreen);
 
}

#logo {
    width: 30px;
    height: auto;
}


.search-bar {
    width: 180px;
    height: 25px;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
}

.contact-btn {
    margin-right: 4rem;
    background-color: var(--Grey);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 0.9rem;
}

.navegar-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--Grey);
    color: var(--white);
    border: none;
    border-radius: 30px;
    padding: 12px 32px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.navegar-btn:hover{
    background: var(--Grey-hover);
    color: var(--pure-white);
}

main {
    background-color: var(--pure-white);
    padding: 180px 80px;
}

#articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    
}

.card {
    height: 30vh;
    background-color: var(--white);
    padding: 10px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card h2,
.card h2 a {
    background-color: var(--lightGreen);
    color: var(--white);
    padding: 20px;
    border-radius: 4px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-decoration: none;
}
